*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header{
    border-bottom: solid 1px grey;
}
.main__list{
   display: flex;
   flex-direction: row;
   justify-content: space-between;  
   
   .main__list--item{
    display: flex;
    flex-direction: column;
    border: solid 1px grey;
    }
}
.form{
    display: flex;
    flex-direction: column;
}
